.col-md-4
  .card{data_id: portfolio_item.id}
    .mb-4.shadow-sm
      - unless portfolio_item.thumb_image.nil?
        %img.card-img-top{:src => portfolio_item.thumb_image}
      .card-body
        %p.card-text= portfolio_item.title
        -# %p.card-text= portfolio_item.body
        .d-flex.justify-content-between.align-items-center
          .btn-group
            %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
            %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
          %small.text-muted 9 mins



-# %p= link_to portfolio_item.title, portfolio_path(portfolio_item)
-# = image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?
-# = link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin)
-# = link_to "Delete", portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)
